* {
    color:#616161;
    font-family:'Open Sans', Sans-Serif;
}

.container {
    width:90%;
    display:block;
    margin:auto;
}

.uploadInfo {
    list-style-type:none;
}

.chooseFileButton {
    width:40%;
    display:inline-block;
    text-align: center;
}

.inline-block {
    display:inline-block;
}

.dropZone {
    box-sizing:border-box;
    padding:20px;
    text-align:center;
    margin:2.5%;
    font-family:Sans-Serif;
    border-radius:10px;
    border:1px solid black;
    width:75%;
    display:inline-block;
}

.uploadInfo {
    margin-top:30px;
    text-align: center;
}

.toBeUploaded {
    display:inline-block;
}

.uploadDetails {
    vertical-align: top;
    margin: 35px 0px 0px 20px;
}

.uploadInfo .buttons{
    margin:20px;
}

.imageLarge {
    width:100%;
    display:inline-block;
    vertical-align: top;
}

.croppedFaces {
    text-align: center;
    margin-top:5px;
}

.croppedFace {
    display:inline-block;
    vertical-align:top;
    width:10%;
    text-align:center;
    margin:5px;
}

.croppedFace img {
    max-width:100%;
    max-height:100%;
}